@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
/* =================== BASICS ===================== */

html,
body {
  font-family: roboto, sans-serif;
  padding: 0px;
  margin: 0px;
  background: #f4f4f4;
  height: 100%;
}

header {
  z-index: 4;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  background: rgb(0, 188, 212);
  position: fixed;
  top: 0px;
  padding: 8px;
  box-sizing: border-box;
  height: 48px;
}

#content {
  box-sizing: border-box;
  padding: 64px 0px 0px 0px;
  width: 100%;
  height: auto;
  overflow: auto;
}

.bookingContent {
  position: relative;
  z-index: 6;
  background: rgba(255, 255, 255, 0.8);
  height: auto;
}

footer {
  bottom: 0;
  left: 0;
  float: left;
  width: 100%;
  padding: 2px;
  font-size: 12px;
  background: rgb(0, 188, 212);
  z-index: 6;
}

footer p,
footer a {
  margin: 0px;
  padding-left: 10px;
  color: #FFFFFF;
  float: left;
}

#map {
  display: hidden;
  height: calc(100vh - 64px);
  width: 100%;
}

/* =================== TOP BAR ==================== */

.letohLogo {
  padding: 4px 4px 4px 10px;
  width: 70px;
  float: left;
}

.letohLogoAlt {
  padding-left: calc(50% - 30px);
  padding-top: 5px;
  float: left;
}

.letohLogo a,
.letohLogoAlt a {
  font-size: 31px !important;
  font-family: Lobster, sans-serif !important;
  color: white;
  font-weight: bold !important;
  text-decoration: none;
}

#mainSearch {
  display: block;
  float: left;
  background: white;
  border: none;
  border-radius: 2px;
  color: grey;
  padding: 8px;
  margin-left: 10px;
  width: calc(100% - 190px);
}

.mainMenu {
  margin-top: 6px;
  margin-right: 13px;
  color: white;
  float: right;
}

/* =========== SEARCH PAGE NAVIGATION ============= */

h2 {
  font-size: 30px !important;
}

#submit {
  background-color: rgb(0, 188, 212);
  margin: 10px 0px 10px 0px;
  border: none;
  color: white;
  display: block;
  padding: 10px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

#sidebarButton {
  display: block;
  z-index: 3;
}

input.textInput {
  background: transparent;
  border: none;
  color: rgb(0, 188, 212);
  width: 50px;
  font-size: 20px !important;
}

input.textInput:invalid {
  border: none;
  box-shadow: none;
  color: red;
}

/* =========== SEARCH PAGE HOTEL CARDS ============ */

.hotel-card.mdl-card {
  float: left;
  margin: 0px 15px 15px 0px;
  width: calc(25% - 15px);
}

.hotel-card>.mdl-card__title {
  height: 240px;
  max-height: 240px;
}

.mdl-card__title-text {
  color: #fff !important;
  font-weight: 400 !important;
  font-size: 35px !important;
  text-shadow: 1px 1px 2px black !important;
}

.mdl-card__supporting-text {
  word-wrap: break-word !important;
  overflow: hidden !important;
  height: 40px !important;
}

p.mdl-card__supporting-text {
  word-wrap: break-word !important;
  overflow: hidden !important;
  height: 20px !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.hotel-card>.mdl-card__menu {
  color: #fff;
}

#hotelcards {
  padding: 15px 0px 0px 15px;
  overflow: auto;
}

/* ------------- Search Page Overlays ------------- */

#bookingpage_overlay {
  display: none;
}

#hoteldetails_overlay {
  position: fixed;
  z-index: 6;
  background: rgba(255, 255, 255, 0.9);
  width: calc(100% - 331px);
  display: none;
  margin: 15px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

#hotel_info_room {
  padding: 15px;
}

.roomPrice {
  font-weight: bold;
}

#confirmation_overlay {
  display: none;
  position: absolute;
  z-index: 7;
  padding: 15px;
  width: calc(100% - 30px);
}

#confirmedBox {
  padding: 20px;
  width: 100%;
  min-width: 200px;
  max-width: 60%;
  margin: 0 auto;
}

#hd_backbutton {
  position: fixed;
  z-index: 9999;
  margin: 10px;
}

#bk_backbutton {
  position: absolute;
  margin: 20px;
  z-index: 7;
}

#rc_backbutton {
  margin: 0 auto;
}

/* ========== HOTEL MANAGER PAGE CARDS ============ */

.managerContent {
  text-align: center;
  padding-left: 0px !important;
}

.managerContent h4 {
  margin-top: 0;
}

.managerContent .mdl-card {
  text-align: left;
  padding: 20px;
}

.addButton {
  margin: 15px 0px 20px 0px !important;
}

.editButton {
  margin: -7px !important;
  width: 70px;
  position: absolute !important;
  right: 20px;
}

.lowButton {
  width: 70px;
}

#mgrDesc {
  max-height: 300px;
  overflow: auto;
}

#mgrDesc h4 {
  width: calc(100% - 66px);
}

.mgrOverviewCard {
  max-height: 300px;
  overflow: auto !important;
}

#mgrAddress {
  min-height: 0;
  padding: 15px;
  border: 0;
}

/* ============= BOOKING PAGE CARDS =============== */

.bookingCard {
  width: 100% !important;
  padding: 20px;
}

/* ============ MISC MDL MODIFICATIONS ============ */

.mdl-textfield__input~label {
  margin-top: -20px;
}

.mdl-textfield {
  width: 100% !important;
}

.mdl-textfield__input:focus~label,
.mdl-textfield__input:valid~label,
.mdl-textfield__input:invalid~label {
  margin-top: 0px;
}

.mdl-slider__background-flex,
.mdl-slider {
  margin: 0 !important;
  width: 100% !important;
}

.box {
  padding: 15px 0px 25px 0px;
}

.width100 {
  width: 100%;
}

#searchNav {
  padding: 0px 25px 25px 25px !important;
}

.mdl-layout__drawer-button {
  margin: 0 !important;
  color: white !important;
}

#myHotels {
  padding: 20px 0px 0px 0px !important;
}

#myHotels h2 {
  text-align: center;
}

#myHotels #overview {
  text-align: left !important;
  padding-left: 40px !important;
  height: 70px !important;
}

/* ================== ACCORDIAN =================== */

/* Style the buttons that are used to open and close the accordion panel */

.accordion {
  text-align: left !important;
  height: 50px !important;
  padding-left: 40px !important;
}

/* Style the accordion panel. Note: hidden by default */

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel a {
  padding-left: 70px !important;
}

.reviewAccordion {
  margin-left: 20px !important;
}

.reviewPanel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.revewPanel p {
  margin-top: 20px !important;
}

/* ================= MEDIA SCREEN ================= */

@media screen and (max-width: 1300px) {
  .hotel-card.mdl-card {
    width: calc(33.33336% - 15px);
  }
}

@media screen and (max-width: 1000px) {
  .hotel-card.mdl-card {
    width: calc(50% - 15px);
  }
}

@media screen and (max-width: 600px) {
  .hotel-card.mdl-card {
    width: calc(100% - 15px);
  }
}

/* ================== DESKTOP ===================== */

@media screen and (min-width: 1025px) {
  .mdl-layout__drawer {
    width: 300px !important;
    padding-top: 64px !important;
    z-index: 3 !important;
  }
  .mdl-layout__content {
    margin-left: 300px !important;
  }
  header {
    height: 64px;
    n
  }
  article {
    padding-top: 64px;
  }
  .letohLogo {
    padding: 12px 10px 5px 20px;
  }
  .letohLogoAlt {
    padding-top: 12px;
  }
  #mainSearch {
    padding: 10px;
    margin-top: 5px;
  }
  #hoteldetails_overlay {
    max-width: 100%;
    height: calc(100vh - 125px);
    overflow: auto;
  }
  .mainMenu {
    margin: 8px 9px 0 0 !important;
  }
}

/* =================== TABLET ===================== */

@media screen and (max-width: 1024px) {
  .mdl-layout__drawer {
    width: 300px !important;
    left: -150px !important;
  }
  .letohLogo {
    padding-left: 40px;
  }
  .mdl-layout__drawer.is-visible {
    left: 0 !important;
  }
  #mainSearch {
    width: calc(100% - 185px);
  }
  .mainMenu {
    margin: 0;
  }
  #content {
    padding: 48px 0px 0px 0px;
  }
  #hoteldetails_overlay {
    width: calc(100% - 42px);
    max-height: calc(100vh - 85px);
    overflow: auto;
  }
  #map {
    height: calc(100vh - 48px);
  }
}

/* ================== MOBILE ====================== */

@media screen and (max-width: 480px) {
  .mdl-layout__drawer {
    width: calc(100% - 48px) !important;
    left: calc(-1 * (100% + 48px) / 2) !important;
  }
  .mdl-layout__drawer.is-visible {
    left: 0 !important;
  }
  #mainSearch {
    display: none;
  }
  #content {
    padding: 48px 0px 0px 0px;
  }
  #hoteldetails_overlay {
    width: 100%;
    max-height: 100%;
    height: calc(100vh - 48px);
    overflow: auto;
    margin: 0;
  }
  #confirmedBox {
    max-width: 100%;
  }
  .bookingContent {
    width: 100%;
  }
  #map {
    height: calc(100vh - 48px);
  }
}

/* ================================================ */

/* =============== Justins styles ================= */

/* ================================================ */

/* =================== Basics ===================== */

.divstyle {
  box-sizing: border-box;
  padding: 30px;
  border-radius: 25px;
  background: white;
  border: 5px solid #efefef;
}

.sectionheadings {
  margin-top: 0px;
  font-size: 30px
}

.boxheadings,
.hotelboxheadings {
  word-break: keep-all;
  margin-bottom: 5px;
  font-size: 20px;
}

.hotelboxheadings {
  margin-top: 0px;
}

.boxparagraph {}

.boximage {
  width: 100%;
  height: 150px;
}

/* ============== Screen Resizing ================= */

@media screen and (max-width: 1000px) {
  #hotelhistory,
  #accountsettings,
  .rightaccount {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .modulecontainer {
    display: block;
  }
  .reviewmodule {
    height: auto;
  }
  .imagemodule {
    height: auto;
  }
}

/* ================ Booking Page ================== */

/* =================== Modules ==================== */

.rightcontent,
.leftcontent {
  margin-bottom: 20px;
  width: 100%;
}

/* ==================== Forms ===================== */

.inputbox {
  border: 1px solid #474544;
  background: white;
}

.smallinputbox {
  width: 50px !important;
}

.biginputbox {
  width: 100% !important;
  /*height: 100px;*/
  resize: none;
}

.submitbutton {
  width: 100%;
  height: 50px;
}

/* ================= Ac/Hi Page =================== */

.rightaccount {
  width: 100%;
  margin: 0px;
}

.centerdiv {
  box-sizing: border-box;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
  margin-bottom: 50px;
  float: left;
}

#hotelhistory {
  float: left;
  width:100%;
  /*width: calc(100% - 20px);*/
}

#accountsettings {
  width:100%;
  /*float:left;*/
  display: none;
}

/* ================ Account Page ================== */

/* ================== Modules ===================== */

.accountModule {
  display: block;
  overflow: auto;
  display: flex;
  flex-direction: row;
}

.settingName,
.settingDescription {
  border-radius: 0px;
  float: left;
  height: 100%;
}

.settingName {
  width: 280px;
  min-height:200px;
  height: auto;
  flex: 1;
}

.settingDescription {
  width: 400px;
  flex: 2;
}

.accountInput {
  display: none;
}

.accountDetailsSection {
  height: 15px;
}

/* =================== Buttons ==================== */

.confirm {
  display: none;
  float: left;
}

.cancel {
  display: none;
  float: right;
}

/* ================= History Page ================= */

#currentBookings {}

#pastBookings {}

/* =================== Modules ==================== */

.modulecontainer {
  overflow: auto;
  min-height: 280px;
  display: flex;
}

.modulecontainer .mdl-cell {
  padding: 15px;
}

.imagemodule,
.descriptmodule,
.reviewmodule {
  display: table-cell;
  vertical-align: top;
  border-radius: 0px;
  float: left;
}

.imagemodule {}

.descriptmodule {}

.reviewmodule {
  white-space: nowrap
}

/* =================== Buttons ==================== */

/* ================ Edit Booking ================== */

.removeBookingButton {
  background-color: red;
  border: none;
}

.removeBookingButton: hover {
  background-color: yellow;
}

.editBookingedit {}

.cancelBookingedit {
  display: none;
}

.confirmBookingedit {
  display: none
}

/* ================== Review ====================== */

.reviewButton {
  width: 100px;
  height: 100px;
}

.cancelButton {
  display: none;
  float: right;
}

.postButton {
  display: none;
  float: left;
}

/* =================== Buttons ==================== */

.dateInput {
  display: none;
}

.tableFill {}

.filler {
  float: right;
  width: 85%;
  margin: 0px;
}

.boxtable {
  width: 100%;
}

.tablerightcol {
  text-align: right;
}

.tabletotal {
  text-align: left;
}

/* =============== Screen Resizing ================ */

@media screen and (max-width: 1000px) {
  #hotelhistory,
  #accountsettings,
  .rightaccount {
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 800px) {
  .accountModule,
  .rightaccount,
  .settingName,
  .settingDescription,
  .modulecontainer,
  .imagemodule,
  .descriptmodule,
  .reviewmodule {
    width: 100%;
  }
  .modulecontainer {
    display: block;
  }
  .reviewmodule {
    height: 280px;
  }
  .imagemodule {
    height: auto;
  }
}

/* ================================================ */

/* =============== Callums styles ================= */

/* ================================================ */

.imagescroller {
  width: 100%;
  height: 40vh;
}

.middlecontent {
  margin-top: 15px;
  margin-bottom: 30px;
  width: 700px;
  margin-left: auto;
  height: 400px;
  margin-right: auto;
}

.hotelmiddlecontent {
  width: 100%;
  height: auto;
  float: left;
}

.middledivstyle {
  box-sizing: border-box;
  padding: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  /* Box Colour */
}

.hotel_info {
  width: calc(100% - 40px);
  height: auto;
  padding: 20px;
}

.booknow {
  width: 100%;
  height: 100px;
}

.image_details {
  width: 25%;
  height: 100px;
  float: left;
}

.input_info {
  width: 75%;
  height: 100px;
  float: left;
}

.inputer {
  width: 25%;
  height: 100%;
  float: left;
}

.input-box-left {
  background: white;
  margin-right: 15px;
  padding: 20px;
}

.input-box-right {
  background: white;
  padding: 20px;
}

.input-box-right form {
  font-family: roboto, sans-serif;
}

.input-box-left h5,
.input-box-right h5 {
  margin: 10px 0 15px 0;
  font-weight: 100;
  font-size: 30px;
}

.InputForms {
  /*  margin-left: auto;
  margin-right: auto;*/
}

.inputfield {
  width: 95%;
}

.nameinputsection {
  width: 50%;
  height: auto;
  float: left;
}

.nameinput {
  width: 85%;
  padding-right: 5%;
}

.middleborder {
  width: 50%;
  box-sizing: border-box;
  height: 50px !important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  line-height: 40px !important;
}

.socialimage {
  width: 40px;
  height: 40px;
  padding-right: 20px;
  float: left;
}

.bookbutton {
  width: 80%;
  height: 50%;
  margin-top: 25%;
  margin-bottom: auto;
  background-color: #FFEE9F;
  border-radius: 10px;
  border: 2px solid #E8B53C;
  padding-left: 15%;
}

.bookbutton:hover {
  background-color: #FFD52E;
  border: 2px solid #E8AB1F;
}

.imgdeets {
  width: 100%;
  height: 100px;
  font-size: 85%;
}

@media screen and (max-width:800px) {
  .middlecontent {
    width: 400px;
    height: auto;
  }
  .input-box-left {
    float: none;
    margin-right: auto !important;
    margin-left: auto;
    width: 87%;
    margin-right: 0px;
  }
  .input-box-right {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 87%;
  }
  .middleborder {
    width: 286px;
  }
}
