/* ================== Basics ===================== */
#bodydiv{
	padding:0px;
}

.divstyle{
	box-sizing:border-box;
	padding:30px;
	border-radius:25px;
	background:white;
	border:5px solid #efefef;
}

.sectionheadings{
	margin-top:0px;
	font-family:Bree Serif, sans-serif;
}

.boxheadings,
.hotelboxheadings{
	word-break:keep-all;
	margin-bottom:5px;
}

.hotelboxheadings{
	margin-top:0px;
}

.boxparagraph{
}

.boximage{
	width:100%;
}
/* ================== Screen Resizing ===================== */
@media screen and (max-width:1000px){
	#hotelhistory,	#accountsettings, .rightaccount{
		width:100%;
	}

	#sidebar{
		display:none;
	}
}

@media screen and (max-width:800px) {
	.rightdiv,
	.leftdiv{
  		width:100%;
		padding-right:30px;
		padding-left:30px;
		padding-top:30px;
		margin-bottom:0px;
 	}
	.leftdiv{
  		padding-top:0px;
	}

	.accountModule,
	.rightaccount,
	.settingName,
	.settingDescription,
	.modulecontainer,
	.imagemodule,
	.descriptmodule,
	.reviewmodule{
	}

	.modulecontainer{
		display:block;
	}

	.reviewmodule{
		height:auto;
	}

	.imagemodule{
		height:auto;
	}
}
/* ================== Booking Page ===================== */
/* ============= Modules ================ */
.rightdiv,
.leftdiv{
	box-sizing:border-box;
	padding-right:30px;
	padding-top:30px;
}

.rightdiv{
	padding-bottom:0px;
	margin-bottom:30px;
	width:35%;
	float:right;
}

.rightcontent,
.leftcontent{
	margin-bottom:30px;
	width:100%;
}

.leftdiv{
	width:65%;
	padding-left:30px;
	float:left;
}

.leftcontent{
	left:0px;
}
/* ============= Forms ================ */
.inputbox,
.smallinputbox,
.biginputbox,
.select,
.submitbutton{
	font-family:Open Sans, sans-serif;
}

.inputbox{
	border:1px solid #474544;
}

.smallinputbox{
	width:50px;
	border:1px solid #474544;
}

.biginputbox{
	width:100%;
	height:100px;
	resize:none;
}

.submitbutton{
	width:100%;
	height:50px;
}
/* ================== Ac/Hi Page ===================== */
.rightaccount{
	width:100%;
	margin:0px;
}

.centerdiv{
	box-sizing:border-box;
	width:100%;
	padding-right:30px;
	padding-left:30px;
	padding-top:30px;
	margin-bottom:50px;
	float:left;
}

#hotelhistory{
}

#accountsettings{
	display:none;
}
/* ================== Account Page ===================== */
/* ============= Modules ================ */
.accountModule{
	display:block;
	width:100%;
	overflow:auto;
	display:flex;
	flex-direction: row;
}

.settingName,
.settingDescription{
	border-radius:0px;
	float:left;
	min-height:105px;
	height:100%;
}

.settingName{
	padding-top:12px;
	width:280px;
	height:auto;
	flex:1;
}

.settingDescription{
	width:400px;
	flex:2;
}

.accountInput{
	display:none;
}
/* ============= Buttons ================ */
.confirm{
	display:none;
	float:left;
}

.cancel{
	display:none;
	float:right;
}
/* ================== History Page ===================== */
#currentBookings{
}

#pastBookings{
}
/* ============= Modules ================ */
.modulecontainer{
	overflow:auto;
	min-height:280px;
	display:flex;
}

.modulecontainer .mdl-cell {
	padding: 15px;
}

.imagemodule,
.descriptmodule,
.reviewmodule{
	display:table-cell;
	vertical-align: top;
	border-radius:0px;
	float:left;
}

.imagemodule{
}

.descriptmodule{
}

.reviewmodule{
	white-space: nowrap
}
/* ============= Buttons ================ */
/* ======== Edit Booking ========== */
.removeBookingButton{
	background-color:red;
	border:none;
}

.removeBookingButton:hover{
	background-color:yellow;
}

.editBookingedit{
}

.cancelBookingedit{
	display:none;
}

.confirmBookingedit{
	display:none
}
/* ======== Review ========== */
.reviewButton{
	width:50px;
	height:50px;
}

.cancelButton{
	display:none;
	float:right;
}

.postButton{
	display:none;
	float:left;
}
/* ============= Buttons ================ */
.dateInput{
	display:none;
}

.tableFill{
}

.filler{
	float:right;
	width:85%;
	margin:0px;
}

.boxtable{
	width:100%;
}

.tablerightcol{
	text-align:right;
}

.tabletotal{
	text-align:left;
}
