@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

 /* =============== BASICS =============== */
html, body{
	font-family: roboto, sans-serif;
	padding: 0px;
	margin: 0px;
	background: #f4f4f4;
	height: 100%;
}

header{   
    z-index: 4;
	width: 100%;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	background: rgb(0,188,212);
	position: fixed;
	top: 0px;
	padding: 8px;
	box-sizing: border-box;
	height: 48px;
}

header a h1{
	display: block;
	float: left;
	height: 100%;
	font-size: 35px;
	margin: 10px 10px 10px 20px;
	font-family: Lobster, sans-serif;
	text-decoration: none;
}

article {
	padding-top: 48px;
}

#content {
	float: left;
	box-sizing: border-box;
	padding: 15px 0px 0px 15px;
	width: 100%;
}

footer {
    bottom: 0;
    left: 0;
    float: left;
	width: 100%;
	padding: 2px;
	font-size: 12px;
	font-family: Open Sans, sans-serif;
	background: rgb(0,188,212);
	z-index: -1;
}

footer p, footer a {
	margin: 0px;
	padding-left: 10px;
	color: #FFFFFF;
	float: left;
}

/* =============== TOP BAR =============== */
.letohLogo {
	padding: 4px 4px 4px 10px;
	width: 70px;
	float: left;
}

.letohLogo a {
	font-size: 31px !important;
	font-family: Lobster, sans-serif !important;
	color: white;
	font-weight: bold !important;
	text-decoration: none;

}

#mainSearch {
	display: block;
	float: left;
	background: white;
	border: none;
	border-radius:2px;
	color: grey;
	padding: 8px;
	margin-left: 10px;
	width: calc(100% - 190px);
}

#profile {
	text-align: right;
	padding-top: 20px;
	padding-right: 40px;
}

#mainMenu {
	margin-top: 6px;
	margin-right: 13px;
	color: white;
	float: right;
}

/* =============== SEARCH PAGE NAVIGATION =============== */
#submit {
    background-color: rgb(0,188,212);
	margin: 10px 0px 10px 0px;
    border: none;
    color: white;
	display: block;
    padding: 10px;
	width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

#sidebarButton {
	display: block;
	z-index: 3;
}

input.textInput {
	background: transparent;
	border: none;
	color: rgb(0,188,212);
	width: 50px;
	font-size: 20px !important;
}

input.textInput:invalid {
	border: none;
	box-shadow: none;
	color: red;
}

/* =============== SEARCH PAGE HOTEL CARDS =============== */
.hotel-card.mdl-card {
	float: left;
	margin: 0px 15px 15px 0px;
	width: calc(25% - 15px);
}
.hotel-card > .mdl-card__title {
    color: #fff;
    height: 240px;
	max-height: 240px;
	text-shadow: 2px 2px 2px black;
}
.hotel-card > .mdl-card__menu {
    color: #fff;
}

/* =============== HOTEL MANAGER PAGE CARDS =============== */
.managerContent {
	padding: 0 !important;
	text-align: center;
}

.managerContent h4 {
	margin-top: 0;
}

.managerContent .mdl-card {
	text-align: left;
	padding: 20px;
}

.addButton {
	margin-top: 10px !important;
}

.editButton {
	width: 70px;
	position: absolute !important;
	right: 20px;
}

.lowButton {
	width: 70px;
}

/* =============== MEDIA SCREEN =============== */
@media screen and (max-width: 1700px) { .hotel-card.mdl-card { width: calc(33.33336% - 15px); } }
@media screen and (max-width: 1400px) {	.hotel-card.mdl-card { width: calc(50% - 15px); } }
@media screen and (max-width: 600px) { .hotel-card.mdl-card { width: calc(100% - 15px); } }

/* ================== DESKTOP ===================== */
@media screen and (min-width: 1024px) {
	.mdl-layout__drawer {
		width: 340px !important;
        padding-top: 64px !important;
		z-index: 3 !important;
	}
	.mdl-layout__content {
		margin-left: 340px !important;
	}
	header { height: 64px; }
	article { padding-top: 64px; }
	.letohLogo { padding: 12px 10px 5px 20px; }
	#mainSearch { padding: 10px; margin-top: 5px; }
}

/* ================== TABLET ===================== */
@media screen and (max-width: 1023px) {
	.mdl-layout__drawer {
	  width: 300px !important;
	  left: -150px !important;
	}
	.letohLogo {
		padding-left: 40px;
	}
	.mdl-layout__drawer.is-visible {
		left: 0 !important;
	}
	#mainSearch {
	    width: calc(100% - 185px);
	}
	#mainMenu {
		margin: 0;
	}
}

/* ================== MOBILE ===================== */
@media screen and (max-width: 480px) {
	.mdl-layout__drawer {
	  width: calc(100% - 48px) !important;
	  left: calc(-1 * (100% + 48px) / 2)  !important;
	}
	.mdl-layout__drawer.is-visible {
	  left: 0 !important;
	}
	#mainSearch {
	    display: none;
	}
}

/* =============== MISC MDL MODIFICATIONS =============== */
.mdl-textfield__input ~ label {
	margin-top: -20px;
}

.mdl-textfield__input:focus ~ label,
.mdl-textfield__input:valid ~ label, 
.mdl-textfield__input:invalid ~ label {
	margin-top: 0px;
}

.mdl-slider__background-flex, .mdl-slider {
	margin: 0 !important;
	width: 100% !important;
}

.box {
	padding: 15px 0px 25px 0px;
}

.width100 {
	width: 100%;
}

#searchNav {
	padding: 0px 25px 25px 25px !important;
}


.mdl-layout__drawer-button {
	margin: 0 !important;
	color: white !important;
}

#myHotels {
	padding: 20px 0px 0px 0px !important;
}
	
	#myHotels h2 {
		text-align:center;
	}
	#myHotels #overview {
		text-align: left !important;
		padding-left: 40px !important;
		height: 70px !important;
	}

/* ========= ACCORDIAN ======== */
 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
	text-align: left !important;
	height: 50px !important;
	padding-left: 40px !important;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel a {
	padding-left: 70px !important;
}
